<ul class="nav" id="side-menu">
    <li>
        <a href="#"><i class="fa fa-dashboard fa-fw"></i>Thêm công văn<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="/Admin/CongVan/index"> Thêm thủ công</a>   
            </li>
            <li>
                <a href="/Admin/UploadFile/index">Thêm tự động</a>
                 <!--///Admin/UploadFile/index
                     /Admin/CongVan/index
                     -->
            </li>        
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="/Admin/CongVan/List"><i class="fa fa-dashboard fa-fw"></i> Danh sách công Văn</a>
    </li>
    <li>
        <a href="/Admin/Department_cat/index"><i class="fa fa-dashboard fa-fw"></i> Quản lí loại phòng ban</a>
    </li>
    <li>
        <a href="/Admin/Department/index"><i class="fa fa-dashboard fa-fw"></i> Quản lí phòng ban</a>
    </li>
    <li>
        <a href="/Admin/Cat/index"><i class="fa fa-dashboard fa-fw"></i> Quản lí loại văn bản</a>
    </li>
</ul>
