
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Admin/Content/vendor/jquery/jquery.min.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery.ui.datepicker-vi.js"></script>
<div class="body-content" >
    <h2>Upload file công văn</h2>
    @using (Html.BeginForm("Upload", "UploadFile", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "MyForm" }))
    {
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    Chọn file
                </td>
                <td>
                    <input type="file" name="file" value="" id="myFile" />
                </td>
                <td><input type="submit" name="file" value="Upload" /></td>
            </tr>
        </table>
    }
</div>
<script>
    $("#btnUploadFilengoc").click(function () {
        alert("Handler for .click() called.");
    });  
</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
